.headfoot {
    color: white;
    background-color: black;
    font-size: 24px;
    text-align:center;
}

.main {
    display: flex;
    text-align: center;
    column-gap: 5px;
    padding: 10px;
}

.blue-container {
    display: flex;
    flex-basis: 70%;
    flex-direction: row;
    flex-wrap: wrap;
}

.blue-box {
    flex-basis: 30%;
    background-color: blue;
    margin: 2px;
}

.red-container {
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    flex-wrap: wrap;
}

.red-box {
    margin: 2px;
    background-color: red;
    min-height: 100px;
}

* {
    text-align: center;
    color: white;
}