body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

#game-stats, #user-choice, #results {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
}
